# Ignorar archivos sensibles
.env

# Ignorar archivos temporales de Python
__pycache__/
*.pyc
*.log

# Entorno virtual
venv/
.env/

# Configuración de VSCode
.vscode/

# Archivos generados por Maven/Spring Boot
backend/target/
backend/HELP.md
